body{
  background-color: black;
}
h1{
  text-align: center;
  
  color: white;
}
div.item {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */

}
img {
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: grey;
}
.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
  text-align: center;
  color: white;
}