<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'Drill_CSS_pages/banking/two_rail_bank.css' %}?v=2.1">
         <script src="{%static 'slide.js'%}" defer></script> 
    </head>
        <body>
            <h1>Two Rail Banks</h1>

            
           <!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="{%static 'Images/Drill_builder/banking/two_rail_bank.png'%}" style="width:100%">
      <div class="text">This is the setup for the drill. You want to hit the top of cue ball at the point indicated on the diagram. Complete 10 times.</div>
    </div>
   

  
  
   
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>

   
  
  </div> 
            <div class="form-container" >
               <form method="post" action="">
                {% csrf_token %}
                <input type="number" class="field" placeholder="Amount" name="amount_completed">
                <button type="submit" name="save">save drill</button>
               </form>
            </div>
           
               
        </body>
</html>