<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'Drill_CSS_pages/shotmaking/mill.css' %}">
    </head>
        <body>
            <h1>The Mill Drill</h1>
            <div class="item">
                <img src="{%static 'Images/Drill_builder/shotmaking/mill.png'%}">
                <p class="caption">this is the initial setup for the mill drill</p> 
            </div>
            <div class="item">
                <img src="{%static 'Images/Drill_builder/shotmaking/mill2.png'%}">
                <p class="caption">you respot the first ball you make then continue</p> 
            </div>
            <div class="item">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rTO8fHWa3S0?si=TEYWIJXL_C2JjWCC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <p class="caption">here is a video for demonstration</p> 
            </div>
           
            <div class="form-container" >
               <form method="post" action="">
                {% csrf_token %}
                <input type="text" class="field" placeholder="Username" name="username">
                <input type="text" class="field" placeholder="Drill Name" name="drill_name">
                <input type="number" class="field" placeholder="Amount" name="amount_completed">
                <button type="submit" name="save">save drill</button>
               </form>
            </div>
           
               
        </body>
</html>