
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href ="{%static 'drills.css' %}">
</head>
	<body>
		<h1 style="text-align: center;">Welcome to Drills</h1>
	<div class = "grid-container">
		<div class = "item1">
		<h2 class="h2">Drill 1</h2>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
		<p class="p">this is information on the drill</p>
		</div>

		<div class = "item2">
		<h2 class="h2">Drill 2</h2>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
		<p class="p">this is information on the drill</p>
		</div>
		<div class = "item3">
		<h2 class="h2">Drill 3</h2>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
		<p class="p">this is information on the drill</p>
		</div>

		<div class = "item4">
		<h2 class="h2">Drill 4</h2>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
		<p class="p">this is information on the drill </p>
		</div>

		<div class = "item5">
			<h2 class="h2">Drill 5</h2>
			<img src="{%static 'Images/billiards.jpg'%}" alt="">
			<p class="p">this is information on the drill </p>
			</div>
			<div class = "item6">
				<h2 class="h2">Drill 6</h2>
				<img src="{%static 'Images/billiards.jpg'%}" alt="">
				<p class="p">this is information on the drill </p>
				</div>
	
	 
	 
</div>

	</body>
</html>