
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href ="{%static 'drills.css' %}">
</head>
	<body>
		<h1>Welcome to Drills</h1>
	<div class = "row">
	
	<div class="row">
		
		<h1>Drill 1</h1>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
			
		</table>
	</div>
	<div class="row">
	
		<h2>Drill 2</h2>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
			
		
	</div>
	<div class="row">
	
		<h2>Drill 3</h2>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
			
		
	</div>
	 
</div>
<div class = "row">

	<div class="row">
		
		<h1>Drill 1</h1>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
			
		</table>
	</div>
	<div class="row">
	
		<h2>Drill 2</h2>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
			
		
	</div>
	<div class="row">
	
		<h2>Drill 3</h2>
		<img src="{%static 'Images/billiards.jpg'%}" alt="">
			
		
	</div>
	 
</div>

	</body>
</html>