body {
  height: 100%;
  background: rgb(26,46,26);
  background: linear-gradient(180deg, rgba(26,46,26,1) 0%, rgba(16,28,16,1) 100%);
  background-attachment: fixed;
  color: white;
  margin: 1%;
  padding: 1%;
  /* align-tracks: center; */
}