
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href ="{%static 'drills.css' %}">
</head>
	<body>
		<h1 style="text-align: center;">Welcome to Drills</h1>


	<div class = "grid-container">
		<div class = "item1">
		<h2 class="h2">Fundamentals</h2>
		<a href="Fundamentals">
		<img src="{%static 'Images/Fundamentals.jpg'%}" class = "pop-out" alt="">
		</a>
		</div>

		<div class = "item2">
		<h2 class="h2">Shotmaking</h2>
		<a href= "Shotmaking">
		<img src="{%static 'Images/shotmaking.jpg'%}" class = "pop-out" alt="">
		</a>
		</div>
		<div class = "item3">
		<h2 class="h2">Kicking</h2>
		<a href= "Kicking">
		<img src="{%static 'Images/Kicking.jpg'%}" class = "pop-out"  alt="">
		</a>
		</div>

		<div class = "item4">
		<h2 class="h2">Banking</h2>
		<a href="Banking">
		<img src="{%static 'Images/Banking.png'%}" class = "pop-out" alt="">
		</a>
		</div>

		<div class = "item5">
			<h2 class="h2">Safety play</h2>
			<a href="Safety">
				<img src="{%static 'Images/Safety.jpg'%}"class = "pop-out" alt="">
		    </a>
			</div>
			<div class = "item6">
				
				<h2 class="h2">Jumping</h2>
				<a href= "Jumping">
					<img src="{%static 'Images/Jumping.jpg'%}"class = "pop-out" alt="">
				</a>
				</div>
	
	 
	 
</div>

	</body>
</html>
