<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'Drill_CSS_pages/jumping.css' %}">
        <h1 style="text-align: center;">Welcome to Jumps</h1>
        <body>
            <div class = "grid-container">
                <div class = "item1">
                    <h2 class="h2">Jumping 1</h2>
                    <a href="jumping/jumping1">
                    <img src="{%static 'Images/Drill_builder/jumping/jump1.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item2">
                    <h2 class="h2">Jumping 2</h2>
                    <a href="jumping/jumping2">
                    <img src="{%static 'Images/Drill_builder/jumping/jump2.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item3">
                    <h2 class="h2">Jumping 3</h2>
                    <a href="jumping/jumping3">
                    <img src="{%static 'Images/Drill_builder/jumping/jump3.png'%}" class = "pop-out" alt="">
                    </a>
                </div>

                <div class = "item4">
                    <h2 class="h2">Jumping 4</h2>
                    <a href="jumping/jumping4">
                    <img src="{%static 'Images/Drill_builder/jumping/jump4.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item5">
                    <h2 class="h2">Jumping 5</h2>
                    <a href="jumping/jumping5">
                    <img src="{%static 'Images/Drill_builder/jumping/jump5.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item6">
                    <h2 class="h2">Jumping 6</h2>
                    <a href="jumping/jumping6">
                    <img src="{%static 'Images/Drill_builder/jumping/jump6.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
             
            </div>
        
        </body>
        
    </head>
</html>