<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'Drill_CSS_pages/kicking.css' %}">
        <h1 style="text-align: center;">Welcome to Kicking</h1>
        <body>
            <div class = "grid-container">
                <div class = "item1">
                    <h2 class="h2">One Rail Kicks</h2>
                    <a href="kicking/one_rail_kick">
                    <img src="{%static 'Images/Drill_builder/kicking/one_rail_kick.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item2">
                    <h2 class="h2">Two Rail Kicks</h2>
                    <a href="kicking/two_rail_kick">
                    <img src="{%static 'Images/Drill_builder/kicking/two_rail_kick.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item3">
                    <h2 class="h2">Three Rail Kicks</h2>
                    <a href="kicking/three_rail_kick">
                    <img src="{%static 'Images/Drill_builder/kicking/three_rail_kick.png'%}" class = "pop-out" alt="">
                    </a>
                </div>

                <div class = "item4">
                    <h2 class="h2">Kicking 1</h2>
                    <a href="kicking/kicking1">
                    <img src="{%static 'Images/Drill_builder/kicking/kicking1.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item5">
                    <h2 class="h2">Kicking 2</h2>
                    <a href="kicking/kicking2">
                    <img src="{%static 'Images/Drill_builder/kicking/kicking2.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item6">
                    <h2 class="h2">Kicking 3</h2>
                    <a href="kicking/kicking3">
                    <img src="{%static 'Images/Drill_builder/kicking/kicking3.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
             
            </div>
        
        </body>
        
    </head>
</html>