<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'Drill_CSS_pages/safety.css' %}">
        <h1 style="text-align: center;">Welcome to Safeties</h1>
        <body>
            <div class = "grid-container">
                <div class = "item1">
                    <h2 class="h2">Safety 1</h2>
                    <a href="safety/safety1">
                    <img src="{%static 'Images/Drill_builder/safety/safety1.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item2">
                    <h2 class="h2">Safety 2</h2>
                    <a href="safety/safety2">
                    <img src="{%static 'Images/Drill_builder/safety/safety2.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item3">
                    <h2 class="h2">Safety 3</h2>
                    <a href="safety/safety3">
                    <img src="{%static 'Images/Drill_builder/safety/safety3.png'%}" class = "pop-out" alt="">
                    </a>
                </div>

                <div class = "item4">
                    <h2 class="h2">Safety 4</h2>
                    <a href="safety/safety4">
                    <img src="{%static 'Images/Drill_builder/safety/safety4.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item5">
                    <h2 class="h2">Safety 5</h2>
                    <a href="safety/safety5">
                    <img src="{%static 'Images/Drill_builder/safety/safety5.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item6">
                    <h2 class="h2">Safety 6</h2>
                    <a href="safety/safety6">
                    <img src="{%static 'Images/Drill_builder/safety/safety6.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
             
            </div>
        
        </body>
        
    </head>
</html>