<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'Drill_CSS_pages/fundamentals.css' %}">
        <h1 style="text-align: center;">Welcome to Shotmaking</h1>
        <body>
            <button class="button">filter</button>
            <div class = "grid-container">
                <div class = "item1">
                    <h2 class="h2">The Mill</h2>
                    <a href="shotmaking/mill">
                    <img src="{%static 'Images/Drill_builder/shotmaking/mill.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item2">
                    <h2 class="h2">Everest</h2>
                    <a href="shotmaking/everest">
                    <img src="{%static 'Images/Drill_builder/shotmaking/everest.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item3">
                    <h2 class="h2">The Ladder</h2>
                    <a href="shotmaking/ladder">
                    <img src="{%static 'Images/Drill_builder/shotmaking/ladder.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
             
                <div class = "item4">
                    <h2 class="h2">Corner</h2>
                    <a href="shotmaking/corner">
                    <img src="{%static 'Images/Drill_builder/shotmaking/corner.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item5">
                    <h2 class="h2">The Train</h2>
                    <a href="shotmaking/train">
                    <img src="{%static 'Images/Drill_builder/shotmaking/train.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
                <div class = "item6">
                    <h2 class="h2">The Follower</h2>
                    <a href="shotmaking/follower">
                    <img src="{%static 'Images/Drill_builder/shotmaking/follower.png'%}" class = "pop-out" alt="">
                    </a>
                </div>
              
             
             
            </div>
        
        </body>
        
    </head>
</html>